.city-weather {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: ;
  text-align: center;
}

.townInfo {
  flex: 3;
  padding-right: 10px;
}
.townInfo h2 {
  font-size: var(--fs-xl);
  margin: 0;
}
.townInfo .country {
  font-size: var(--fs-h2);
}
.townInfo h1 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
}
.townInfo p {
  font-size: var(--fs-h2);
  margin: 0;
  color: var(--clr-gray);
}

.weather-units {
  flex: 3;
  --border: solid 0.25em var(--clr-accent);
  border-left: var(--border);
  border-right: var(--border);
  padding: 0px 2em;
}
.weather-units .tempInfo {
  padding-bottom: 20px;
}
.weather-units .description {
  font-size: 25px;
}

.weather-units .section-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin: 0;
  padding-bottom: 5px;
}

.other-info {
  flex: 3.5;
  font-size: 18px;
}
.other-info .info_max {
  color: #f03;
}

.other-info .info_min {
  color: #00a;
}

.sunrise {
  width: 25px;
  height: 25px;
}

.sunset {
  width: 25px;
  height: 25px;
}
