*{
  box-sizing: border-box;
}

body{
  background: url(./assets/images/background.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  height: 85vh;
	width: 100vw;
}

.container{
  margin: 5% 50% auto;
  max-width: auto;
  height: 60vh;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  opacity: 0.8;
  background: white;
}

.header{
  margin:10px;
  display:flex;
  justify-content: space-between;
}

.favorites{
  display:flex;
  height:50px;
  width:50px;
  justify-content:flex-start;
}

.loader {
  border: 6px solid var(--clr-accent);
  border-top: 6px solid var(--clr-light);
  border-radius: 50%;
  margin: 30px;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.mainWeather {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 35px;
  max-width: 1050px;
  margin: 30px auto;
  border-radius: 20px;
}




.footer{
  margin-left: 65%;
  color: white;
  font-size: 15px;
  font-weight:bold;
}

.fa-heart{
  color:red;
}

@media only screen and (max-width:300px){
  .searchbar{
    margin-left:10px;
  }
  .container{
    width:300px;
  }

  .footer{
    margin-left:50%;
  }
}

@media only screen and (max-width:1080px){
  .footer{
    margin-left:60%;
  }
}