body{
  background: url(./images/background.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  max-width:auto;
}

.container{
  margin: 5% 35px auto;
  width: 500px;
  height: 60vh;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px black;
  opacity: 0.8;
  background: white;
}

.header{
  margin:10px;
  display:flex;
  justify-content: space-between;
}

.favorites{
  display:flex;
  height:50px;
  width:50px;
  justify-content:flex-start;
}

.searchbar{
  display:flex;
  justify-content:flex-end;
}

.footer{
  margin:2% 70% auto;
  color: white;
  font-size: 15px;
  font-weight:bold;
}

.fa-heart{
  color:red;
}

@media only screen and (min-width:300px){
  .searchbar{
    margin-left:10px;
  }
  .container{
    width:300px;
  }
}